@using BosonAssessment.Components.Pages
@using Blazored.SessionStorage

@inject ISessionStorageService sessionStorage

<!-- Search bar -->
<div class="search-container">
    <div class="dogbone-image"></div>
    <input class="search-text" type="text" placeholder="Fetch..." @bind-value="searchQuery" @bind-value:event="oninput" @onkeypress="SearchOnEnter" />
</div>

@code {

    // Parameter to handle the search event
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchQuery = "";

    // Method triggered when Enter key is pressed in the search input field
    private async Task SearchOnEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            // Invoke the OnSearch event callback with the current search query
            await OnSearch.InvokeAsync(searchQuery);
        }
    }
}
