@using BosonAssessment.Components.Pages
@using Blazored.SessionStorage

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="search-container">
    <div class="dogbone-image"></div>
    <input class="search-text" type="text" placeholder="Fetch..." @bind-value="searchQuery" @bind-value:event="oninput" @onkeypress="SearchOnEnter" />
</div>

@code {

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchQuery = "";

    private async Task SearchOnEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await OnSearch.InvokeAsync(searchQuery);
        }
    }
}
