@page "/video/{videoId}"

@using System.Net.Http
@using System.Text.Json
@using System.Linq
@using System.Threading.Tasks

@inject NavigationManager NavigationManager;

<PageTitle>Video</PageTitle>

<link rel="stylesheet" href="Video.razor.css"> <!-- Link to CSS file -->

<div class="container">
    <div class="video-container">
        <div class="video-contents">
            <div class="youtube-video">
                <!-- Embed YouTube video using iframe -->
                <iframe width="960" height="540" src="https://www.youtube.com/embed/@VideoId" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-details-container">
                <!-- Display channel logo if available -->
                <div class="channel-logo">
                    @if (!string.IsNullOrEmpty(@ChannelLogoUrl))
                    {
                        <img src="@ChannelLogoUrl" alt="Channel Logo" />
                    }
                </div>
                <div class="video-details">
                    <h2>Video Title</h2>
                    <p>Channel Name</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string VideoId { get; set; }

    [Parameter]
    public string VideoTitle { get; set; }

    [Parameter]
    public string ChannelName { get; set; }

    [Parameter]
    public string ChannelLogoUrl { get; set; }
}